<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlinebakeryapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.onlinebakeryapp.ChangePasswordActivity"></activity>
        <activity android:name="com.example.onlinebakeryapp.AccountActivity" />
        <activity android:name="com.example.onlinebakeryapp.ContactUsActivity" />
        <activity android:name="com.example.onlinebakeryapp.TransactionHistoryDetails" />
        <activity android:name="com.example.onlinebakeryapp.TransactionHistoryActivity" />
        <activity android:name="com.example.onlinebakeryapp.OrderDetails" />
        <activity
            android:name="com.example.onlinebakeryapp.CustomerWishListDetails"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.onlinebakeryapp.MainActivity2" />
        <activity
            android:name="com.example.onlinebakeryapp.ProductCartDetails"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.onlinebakeryapp.CartActivity"
            android:parentActivityName="com.example.onlinebakeryapp.MainActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.onlinebakeryapp.ReloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.onlinebakeryapp.MainActivity2"
            android:parentActivityName="com.example.onlinebakeryapp.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.onlinebakeryapp.ProductDetails"
            android:parentActivityName="com.example.onlinebakeryapp.MainActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.onlinebakeryapp.MainActivity"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.onlinebakeryapp.Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>